h2{
    color:blue;
}

h3 em{
    color:gold;
}
centre em strong{
    color:slategrey;
}
span{
    color:darkblue;
}

#contact{
    margin-left: 700px;
}

table{
    margin: 50px auto;
}

label{
    font-size: 18px;
}

input{
    height: 35px;
    width: 342px;
    padding: 5px;
}

textarea{
    width: 350px;
}

input[type="submit"]{
    border: 1px solid blue;
    background-color: white;
    color: blue;
    width: 357px;
}

input[type="submit"]:hover{
    cursor: pointer;
}